@charset "UTF-8";

:root{
    --cor1: #ecfadd;
    --cor2: #BCFA5F;
    --cor3: #56a700;
    --cor4: #537A40;
    --cor5: #395039;
    --cor6: #37633e;
    --fonte-principal: "Lato";
    --fonte-secundaria: "Roboto";
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-principal);
  }
  
  main {
    margin: auto;
    min-width: 280px;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  article {
    margin-left: 10px;
    margin-right: 10px;
  }

  h2 {
      text-align: left;
      font-size: 2em;
      padding-top: 20px;
      padding-left: 20px;
      font-family: var(--fonte-principal);
  }

  h3 {
    text-align: left;
    font-size: 1.5em;
      padding-top: 15px;
      padding-left: 20px;
      font-family: var(--fonte-principal);
  }
  
  p {
    font-size: 1.2em;
    padding: 10px;
    font-family: var(--fonte-secundaria);
    
  }

  .cabecalho {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor6));
    min-height: 150px;
    padding-top: 40px;
  }

  .cesj{
    display: block;
    margin: 0 auto;
    padding: 2px;
    max-width: 50px;
    min-width: 30px;
  }
  
  .menu {
    font-family: var(--fonte-secundaria);
    text-align: center;
    background-color: var(--cor6);
    padding: 10px;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  }
  
  .menu_item {
    display: inline-block;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
  }
  
  .menu_item:hover {
    background-color: var(--cor2);
    color: var(--cor6);
  }
  
  .titulo_principal {
    font-family: var(--fonte-principal);
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  }
  
  .paragrafo_principal {
    font-family: var(--fonte-secundaria);
    text-align: center;
    color: white;
    font-size: 1.2em;
    max-width: 700px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  }
  
  .inicio_artigo{
    text-align: center;
  }

  .container_imagens{
    width: 100%;
    max-width: 500px;
    min-width: 280px;
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .links_out{
    padding: 0px;
    display: block;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
    color: var(--cor3);
  }

  .links{
    color: var(--cor6);
    font-weight: bold;
    text-decoration: none;
  }

  .links a:hover {
    text-decoration: underline;
    color: var(--cor2);
  }
  
  footer {
    background-color: var(--cor6);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
  }

  footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
    color: var(--cor2);

  }